<h1>Forgot your password?</h1>
<p style="color: red"><%= alert %></p>

<%= form_with(url: identity_password_reset_path) do |form| %>
  <div class="mb-3">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div class="mb-3">
    <%= form.submit "Send password reset email", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="mb-3">
  <%= link_to "Sign In", sign_in_path %> |
  <%= link_to "Sign Up", sign_up_path %> |
  <%= link_to "Verify Email", identity_email_verification_path %>
</div>
