<h1>Welcome#index</h1>

<h2>Session Information</h2>
<p><strong>current_session:</strong> <%= current_session.inspect %></p>
<p><strong>current_user:</strong> <%= current_user.inspect %></p>
<p><strong>user_signed_in?:</strong> <%= user_signed_in? %></p>

<h2>ActionAuth Configuration</h2>
WebAuthn Enabled: <%= ActionAuth.configuration.webauthn_enabled? %>

<h2>Routes</h2>
<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Verb</th>
      <th>params</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>user_sessions_path</strong></td>
      <td>GET</td>
      <td></td>
      <td>Device session management</td>
    </tr>
    <tr>
      <td><strong>user_session_path</strong></td>
      <td>DELETE</td>
      <td>[:id]</td>
      <td>Log Out</td>
    </tr>
    <tr>
      <td><strong>new_user_session_path</strong></td>
      <td>GET</td>
      <td></td>
      <td>Log in</td>
    </tr>
    <tr>
      <td><strong>new_user_registration_path</strong></td>
      <td>GET</td>
      <td></td>
      <td>Sign Up</td>
    </tr>
  </tbody>
</table>

<h2>Dummy App Settings</h2>

<h3>app/models/current.rb</h3>
<pre><%= File.read(Rails.root.join('app', 'models', 'current.rb')) %></pre>
<strong>Current.user:</strong> <%= Current.user.inspect %>

<h3>app/models/user.rb</h3>
<pre><%= File.read(Rails.root.join('app', 'models', 'user.rb')) %></pre>

<h3>Associations</h3>
<pre>bin/rails g scaffold post user:belongs_to title</pre>
<pre><%= File.read(Rails.root.join('db', 'migrate', '20240114051355_create_posts.rb')) %></pre>
