<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8 bg-gray-50">
  <div class="sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <%= image_tag "lock.png", class: "mx-auto h-10 w-auto" %>
        <h2 class="mt-1 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Add a security key</h2>
      </div>
      <%= form_with scope: :webauthn_credential,
                    url: options_for_webauthn_credentials_path,
                    id: "webauthn_credential_form",
                    class: "space-y-6",
                    data: {
                      controller: "add-credential",
                      action: "ajax:success->add-credential#create",
                    } do |form| %>

        <div>
          <label for="nickname" class="block text-sm font-medium leading-6 text-gray-900">Security Key nickname</label>
          <div class="mt-2">
            <%= form.text_field :nickname, autofocus: true, placeholder: "New Security Key nickname", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <%= form.submit "Add Security Key", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>

        <div class="flex items-center justify-between">
          Insert a USB key, if necessary, and tap it.
        </div>

        <p class="mt-4 text-center text-sm text-gray-500">
          <%= link_to "Cancel", action_auth.sessions_path, class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
