<p style="color: green"><%= notice %></p>

<h1>Devices & Sessions</h1>

<div id="sessions">
  <table class="action-auth--table">
    <thead>
      <tr>
        <th>User Agent</th>
        <th nowrap>Ip Address</th>
        <th nowrap>Created at</th>
        <th nowrap></th>
      </tr>
    </thead>
    <tbody>
      <% @sessions.each do |session| %>
        <%= content_tag :tr, id: dom_id(session) do %>
          <td><%= session.user_agent %></td>
          <td nowrap><%= session.ip_address %></td>
          <td nowrap><%= session.created_at %></td>
          <td nowrap><%= button_to "Log out", session, method: :delete, class: "btn btn-primary" %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

